{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT LOGIN   ================================= max-width: 380px;-->
    {% if request.GET.command == "verification "%}

    <div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top: 100px;">
        Thank you for registering with us. We have sent you a verification email to your email address [{{request.GET.email}}]
        <br><br>
        Already verified? <a href="{% url 'login' %}">Login</a>
    </div>

    {% else %}
    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px; box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff; border-radius: 15px;">
        <div class="card-body">
            <h4 class="card-title mb-4 text-center text-primary p-2" style="font-style: italic; font-family: 'Arial', sans-serif;">
                BILLY LOGIN <i class="fas fa-sign-in-alt" style="color: blue;"></i>
            </h4>

            {% include 'includes/alert.html' %}
            
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope" style="color: blue;"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email Address" name="email">
                    </div>
                </div> <!-- form-group// -->
                <div class="form-group mb-3">
                    <div class="input-group pt-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock" style="color: blue;"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                </div> <!-- form-group// -->
                
                <div class="form-group mb-3">
                    <a href="{% url 'forgot_password' %}" class="float-right">Forgot password?</a> 
                </div> <!-- form-group form-check .// -->
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" style="width: 150px;"> Login <i class="fas fa-sign-in-alt" style="color: white;"></i> </button>
                </div>
            </form>
            
            <!-- Separator Line with "OR" -->
            <div style="text-align: center; margin: 20px 0; position: relative;">
                <hr style="border-top: 1px solid #ddd; margin: 0;"/>
                <span style="position: relative; top: -12px; background-color: #fff; padding: 0 10px; color: #777; font-weight: bold;">OR</span>
            </div>
            
            <!-- Login with Google Button -->
            <div class="text-center">
                <a href="" class="btn" style="display: inline-flex; align-items: center; justify-content: center; background-color: #DB4437; color: white; width: 250px; padding: 10px 20px; border: none; border-radius: 5px; text-decoration: none;">
                    <img src="{% static 'images/avatars/google.png' %}" alt="Google" style="width: 20px; height: 20px; margin-right: 10px;">
                    Login with Google
                </a>
            </div>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    <br><br>
    {% endif %}
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
