/* Hide the radio button */
.rate > input {
  display: none;
}

.rate {
  display: inline-block;
  border: 0;
  position: relative;
}

.rate > label {
  float: right;
  position: relative;
  z-index: 1;
}

/* Show stars */
.rate > label:before {
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005"; /* full star */
  margin: 0;
  padding: 0.3rem 0.2rem;
  cursor: pointer;
}

/* Half star */
.rate .half:before {
  content: "\f089"; /* half star */
  position: absolute;
  padding-right: 0;
  z-index: 2;
}

/* Click and hover */
input:checked ~ label, 
label:hover ~ label {
  color: #ffb503;
}

/* Hover highlight */
input:checked + label:hover, 
input:checked ~ label:hover, 
input:checked ~ label:hover ~ label, 
label:hover ~ input:checked ~ label {
  color: #cc9000;
}

/* Rating stars display for average rating */
.rating_star i {
  color: #cc9000 !important;
}
